@import 'tailwindcss';
@import 'tw-animate-css';

/* Theme configuration */
:root {
  /* Light mode (default) */
  --primary: #2563eb;          /* Light primary */
  --primary2: #3559AF;
  --secondary: #1e2a38;        /* Light secondary */
  --accent: #f59e0b;
  --accent-hover: #e38519;
  --secondary-hover: #1951cc;

  --background: #f3f4f6;
  --foreground: #4b4b4b;

  --card: #ffffff;
  --card-foreground: #4b4b4b;

  --border: #e5e7eb;
  --radius: 0.625rem;

  --dynamic: var(--secondary);

  --font-english: var(--font-english); /* Poppins */
  --font-khmer: var(--font-khmer);     /* Kantumroy Pro */
}

.dark {
  /* Dark mode */
  --primary: #1e2a38;          /* Dark primary */
  --primary2: #2563eb;
  --secondary: #3559AF;        /* Dark secondary */
  --accent: #e38519;
  --accent-hover: #f59e0b;
  --secondary-hover: #2563eb;

  --background: #0f172a;
  --foreground: #ffffff;

  --card: #1e293b;
  --card-foreground: #ffffff;

  --border: #334155;

  --dynamic: var(--primary);
}

/* Tailwind theme bindings */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary2: var(--primary2);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-accent-hover: var(--accent-hover);
  --secondary-hover: var(--secondary-hover);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-border: var(--border);
  --color-dynamic: var(--dynamic);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

/* Base styles */
@layer base {
  body {
    @apply bg-background text-foreground font-sans;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  body {
    font-family: var(--font-english), sans-serif;
  }

  /* Switch base font automatically by current document language */
  html[lang='kh'] body {
    font-family: var(--font-khmer), sans-serif;
  }
  html[lang='en'] body {
    font-family: var(--font-english), sans-serif;
  }

  .font-khmer {
    font-family: var(--font-khmer), sans-serif;
  }
}
